<HTML>
<HEAD>Hello World page</HEAD>
<BODY>
  Hello world! My IP Address is <%= @ip_address %>
<br/>
  <address class="author">By <a rel="author" href=""><%= @author %></a></address>

</BODY>
</HTML>
